<!DOCTYPE html>
<html lang="en">
<head>
  <title>About-Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 
  <style>
     #logo{
      height:150px;
  width:320px;
  margin-top:30px;
  padding-left: 70px;
 
 
  }
 .btn-default:hover {
    border-bottom: 5px solid #483D8B;
  }
  #logout
 {
  height:50px;
  width:170px;
  margin-top:20px;
 
}
 
  #home{
    margin-top: 30px;
     margin-left: 10px;
   }
 
  #about{
     margin-top: 30px;
     margin-left: 30px;
   }
 
   #contact{
     margin-top: 30px;
     margin-left: 30px;
    }
   #services{
    margin-top: 30px;
    margin-left: 30px
    }
    #meet{
  margin-top: 30px;
  margin-left: 30px;
}
 
 
   #heading{
 
  font-family:garamond;
  font-size: 50px;
  color:#483D8B;
   }
 
   #about{
  font-size: 16px;
   }
 
  .far {
  font-size: 25px;
  color:#483D8B;
  }
 
  body{
  background-image: url('/images/b2.jpeg');
 
  }
  .ghost-button2 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color:black;
  border: 1.5px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
 
}
.ghost-button2:hover,
.ghost-button2:active {
  background-color: rgb(62, 123, 202);
  color:white;
  text-decoration: none;
  border: 1.5px solid white;
 
}
 
  </style>
 
  </head>
  <body>
 
    <div class="row"  >
      <div class="col-sm-3">
       <img src="/images/logo.jpg" id="logo">
 
      </div>
       <div class="col-sm-7">
        <a href="/dashboard"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b>HOME</b></button></a>
        <a href="#"><button type="button" class="btn btn-default" id="about" style="font-size: 20px;"><b>ABOUT US</b></button></a>
        <a href="/services"><button type="button" class="btn btn-default" id="services" style="font-size: 20px;"><b>SERVICES</b></button></a>
        <a href="/contactus"><button type="button" class="btn btn-default" id="contact" style="font-size: 20px;"><b>CONTACT US</b></button></a>
        <a href="/team"><button type="button" class="btn btn-default" id="meet" style="font-size: 20px;"><b>MEET THE TEAM</b></button></a>
      </div>
        <div class="col-sm-2">
          <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px;">
          </i><font style="font-size: 20px;">  Logout</font></a>
          </div>
      </div>
 
<!------------------------About Us------------------------------------->
 
     <div class="row" id="ab">
     <div class="col-sm-1">
     </div>
     <div class="col-sm-10">
     <center><div id="heading"><b>ABOUT US</b></div></center><hr>
     <center><div id="heading" style="font-size: 30px"><b>OUR VISSION</b></div>
     <b> "Enhancing human capability and ensuring wellbeing through knowledge transfer, empowerment and collective process."</b>
     <div id="heading" style="font-size: 30px"><b>OUR AIM</b></div>
     <b>"Reduce vulnerability, build resilience and empower the community through strengthening aquatic-based livelihood opportunities."</b>
     <div id="heading" style="font-size: 25px"><b> WHO ARE WE?</b></div></center>
     <div class="row">
     <div class="col-sm-6">
    <div id="about"> Centre for Aquatic livelihood Jaljeevika is a registered non-profit organisation under section (8) company act.
    We started our journey in the year 2013 to promote livelihood potential in rural India through interventions in aquatic livelihood sector.
    We are committed to the promotion of aquatic livelihood through better resource management, institution building, technology transfer, access to credit, inputs, markets and support in developing end to end value chains towards enhancing livelihood opportunities, securing food and nutritional security in rural India.<br><br>
   <i class="far fa-calendar-check"></i>&nbsp &nbsp One of the founder members to establish a National platform for small scale   fish worker.<br>
   <i class="far fa-calendar-check" ></i>&nbsp &nbsp Transforming as Open source fisheries platform to promote numbers of social enterprises around the fisheries value chain.<br>
   <i class="far fa-calendar-check"></i>&nbsp &nbsp  IT-based support services to ensure link better performing fish farmers through credit agency</i><br>
   <i class="far fa-calendar-check"></i>&nbsp &nbsp Enable farmers to learn affordable and sustainable aquatic farming practices.<br><br>
   <i class="far fa-calendar-check"></i>&nbsp &nbsp  Setting up sectoral development AquaFund to leverage the existing potential of CSR,Private sector,etc.</div></div>
   <div class="col-sm-6"><p id="space2"></p><img src="/images/about.png" style="height:350px;width:600px;border-style:solid"></div>
   </div>
 
  </div>
  <div class="col-sm-1">
  </div>
</div>
</div>
</body>
</html>