<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jaljeevika</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body onload="filterSelection('1')" style="font-family:candara">
  <script>
    const showResults = (data) => {
      let displayString = '';
      if(data.length === 0){
        displayString += `<li class="list-group-item">No results</li>`;
      } else{
        data.forEach(product => {
          //console.log(product);
          //console.log(product._id);
          displayString += `<li class="row list-group-item">
                              <span style=""><a href="/products/${product._id}"> ${product.name}</a></span> 
                            </li>`;
        });
      }
      $('#results-display').html(displayString);
    }
    const searchProduct = (e) => {
      console.log(e.value);
      if(e.value === ''){
        $('#results-display').html(''); 
      }else{
        $("#results").html(e.value)
        $.get(`/api/main/search?text=${e.value}`, (data, status) => {
          showResults(data);
        })
      }
    }
  </script>


 <div class="row">
    <div class="col-sm-3">
     <img src="/images/logo.jpg" id="logo">
    </div>
     <div class="col-sm-6">
      <a href="/dashboard"><button type="button" class="btn btn-default" id="home">HOME</button></a>
      <a href="/aboutus"><button type="button" class="btn btn-default" id="about">ABOUT US</button></a>
      <a href="/services"><button type="button" class="btn btn-default" id="services">SERVICES</button></a>
      <a href="/contactus"><button type="button" class="btn btn-default" id="contact">CONTACT US</button></a>
    </div>
      <div class="col-sm-3">
        <a href="/users/logout"><button id="logout"><i class='fas fa-user-alt'></i>Logout</button></a>
        </div>
    </div>
    <p id="space"></p>

<!----------------CAROUSEL--------------------------------------------------------------------------->
<div id="car" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#car" data-slide-to="0" class="active"></li>
    <li data-target="#car" data-slide-to="1"></li>
    <li data-target="#dcar" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel2.jpg" height="300">
      <div class="carousel-caption">
        <h3>Welcome to Jaljeevika</h3>
        <p>WE ARE AT YOUR SERVICE</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/carousel1.jpg" height="300">
      <div class="carousel-caption">
        <h3>Welcome to Jaljeevika</h3>
        <p>WE ARE AT YOUR SERVICE</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/carousel3.jpg" height="300"> 
      <div class="carousel-caption">
       <h3>Welcome to Jaljeevika</h3>
        <p>WE ARE AT YOUR SERVICE</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#car" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#car" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!----------------------search bar---------------------------------------------->

      <p id="space"></p>
      <center><input class="form-control" oninput="searchProduct(this);" id="search-product" style=" width: 400px;" type="text" placeholder="Search Products here..."/>
     <ul class="list-group" id="results-display" style="width:360px"></ul></center>
  <!--------------------------------------------------------------------------->





  <!------------filter--------------------------------------------------------------------->
  <div class="row">
  <div class="col-sm-4" style="width:300px;">
    
        <button type="button" class="btn btn-success" id="filter" style="width:300px">Filter</button>
        <ul class="list-group" id="filt_list" style="width:300px">
        <form>
        Clear Filters<br>
        
        <!--------category-------------------->
        
        <button type="button" class="btn btn-success btn-sm" id="cat" style="width:270px">Category</button>
        <div style="border-style:groove;width:270px">
        <ul class="list-group" id="cat_list"style="width:270px">	
           <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="category" id="Feed" value="Feed">
          <label class="form-check-label" for="Feed" style="width:270px">
            Feed
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="category" id="HealthCare" value="HealthCare">
          <label class="form-check-label" for="HealthCare" style="width:270px">
            HealthCare
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="category" id="Aquaculture Equipments" value="Aquaculture Equipments">
          <label class="form-check-label" for="Aquaculture Equipments" style="width:270px">
            Aquaculture Equipments
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="category" id="Ornamental fish purpose Toolkit" value="Ornamental fish purpose Toolkit">
          <label class="form-check-label" for="Ornamental fish purpose Toolkit" style="width:270px">
            Ornamental fish purpose Toolkit
          </label>
        </div>
        </ul></div>
        
        
        <!--------company------------------------>
        
        <button type="button" class="btn btn-success btn-sm" id="compan" style="width:270px">Company</button>
        <div style="border-style:groove;width:270px">
        <ul class="list-group" id="compan_list" style="width:270px">
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="BMR" value="BMR">
          <label class="form-check-label" for="BMR" style="width:270px">
            BMR Industries Pvt.Ltd.
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="Cargill" value="Cargill">
          <label class="form-check-label" for="Cargill" style="width:270px">
            Cargill India Pvt. Ltd.
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="Doctor" value="Doctor">
          <label class="form-check-label" for="Doctor" style="width:270px">
            Doctor's Vet -Pharma Pvt.Ltd.
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="Apple" value="Apple">
          <label class="form-check-label" for="Apple" style="width:270px">
            APPLE Biotechnologies
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="SRR" value="SRR">
          <label class="form-check-label" for="SRR" style="width:270px">
            SRR AQUA SUPPLIERS
          </label>
        </div>
        <div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="Arun" value="Arun">
          <label class="form-check-label" for="Arun" style="width:270px">
            ARUN AQUCULTURE
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="company" id="MadOverFish" value="MadOverFish">
          <label class="form-check-label" for="MadOverFish" style="width:270px">
            MadOverFish Aquarium & Water Arts Pvt.ltd
          </label>
        </div>
        </ul></div>
        
        
        <!---------------------price-------------------------->
        
        <button type="button" class="btn btn-success btn-sm" id="pri" style="width:270px">Price</button>
        <div style="border-style:groove;width:270px">
        <ul class="list-group" id="pri_list" style="width:270px">	
           <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="price" id="less1000" value="less1000">
          <label class="form-check-label" for="less1000" style="width:270px">
            Less than 1000
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="price" id="1000-2000" value="1000-2000">
          <label class="form-check-label" for="1000-2000" style="width:270px">
           1000-2000
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="price" id="2000-2500" value="2000-2500">
          <label class="form-check-label" for="2000-2500" style="width:270px">
            2000-2500
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="price" id="more2500" value="more2500">
          <label class="form-check-label" for="more2500" style="width:270px">
            More than 2500
          </label>
        </div>
        </ul></div>
        
        
        
        <!------------location------------------->
        
        <button type="button" class="btn btn-success btn-sm" id="loc"style="width:270px">Location</button>
        <div style="border-style:groove;width:270px">
        <ul class="list-group" id="location_list" style="width:270px">
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="location" id="Pune" value="Pune">
          <label class="form-check-label" for="Pune" style="width:270px">
            Pune
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="location" id="Delhi" value="Delhi">
          <label class="form-check-label" for="Delhi" style="width:270px">
            Delhi
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="location" id="Mumbai" value="Mumbai">
          <label class="form-check-label" for="Mumbai" style="width:270px">
          Mumbai
          </label>
        </div>
        <div class="form-check" style="width:270px">
          <input class="form-check-input" type="radio" name="location" id="Jaipur" value="Jaipur">
          <label class="form-check-label" for="Jaipur" style="width:270px">
            Jaipur
          </label>
        </div>
        </ul></div>
        
        <!------------------------------------------>
        </form>
        </ul>
        </div>  
        
    <div class="col-sm-8">
      <div class="main">
        <div class="row" id="row">
        
        <!-----------------------------products------------------------------------->
        <% products.forEach(product => { %>
          <div class="column BMR feed 1 harvest1">
            <div class="content">
              <a href="/products/<%= product._id %>"> <img src="/images/<%= product.imgurl %>.jpg" style="width:100%"  id="p1"></a>
              <h4><center><%= product.name %></center></h4>
              <p><center><%= product.vendorname %></center></p>
            </div>
          </div>
        <% }) %>
        </div>  <!--------div id == main ---------->


    </div>
  
  </div>
  <script>
    
    $(document).ready(function(){
        $("#comp").click(function(){
        $("#comp_list").slideToggle("slow");
        });
    });
    
    
    
    //For search bar filtering
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".dropdown-menu li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        });
        });
    
    //For dropdown items selection
    $(document).ready(function()
        {
        $(".dropdown-menu li").click(function()
        {
        var t=$(this).val();
        $("#myInput").val($(this).text());
        });
        });
    
    
    
    //JS CODE FOR PRODUCT FILTERING (MOST IMPORTANT)
    filterSelection("allproduct")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column");
        if (c == "allproduct") c = "";
        for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }
    
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
        }
    }
    
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
        }
        element.className = arr1.join(" ");
    }
    //until here
    $(document).ready(function(){
  $("#compan").click(function(){
    $("#compan_list").slideToggle("fast");
  });
});
$(document).ready(function(){
  $("#loc").click(function(){
    $("#location_list").slideToggle("fast");
  });
});
$(document).ready(function(){
  $("#filter").click(function(){
    $("#filt_list").slideToggle("fast");
  });
});
$(document).ready(function(){
  $("#cat").click(function(){
    $("#cat_list").slideToggle("fast");
  });
});
$(document).ready(function(){
  $("#pri").click(function(){
    $("#pri_list").slideToggle("fast");
  });
});
   
</script>


</body>
</html>