<!DOCTYPE html>
<html lang="en">
<head>
  <title>Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
     #logo{
      height:150px;
  width:320px;
  margin-top:30px;
  padding-left: 70px;
  }
   #a:hover{
     color:#00008B;
}
 #b:hover{
     color:#00008B;
}
 #c:hover{
     color:#00008B;
}
 #d:hover{
     color:#00008B;
}
 #e:hover{
     color:#00008B;
}
 #f:hover{
     color:#00008B;
}
 
 
 .btn-default:hover {
    border-bottom: 5px solid #00008B;
  }
  #logout
 {
  height:50px;
  width:170px;
  margin-top:20px;
 
}
 
 
  #home{
    margin-top: 30px;
     margin-left: 10px;
   }
 
  #about{
     margin-top: 30px;
     margin-left: 30px;
   }
 
   #contact{
     margin-top: 30px;
     margin-left: 30px;
    }
   #services{
    margin-top: 30px;
    margin-left: 30px;
    }
    #meet{
  margin-top: 30px;
  margin-left: 30px;
}
    #heading{
 
  font-family:garamond;
 
   }
   body{
  background-image: url('/images/b2.jpeg');
  }
  .ghost-button2 {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color:black;
  border: 1.5px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
 
}
.ghost-button2:hover,
.ghost-button2:active {
  background-color: rgb(62, 123, 202);
  color:white;
  text-decoration: none;
  border: 1.5px solid white;
 
}
</style>
  </head>
  <body>
 
 
<div class="row">
    <div class="col-sm-3">
     <img src="/images/logo.jpg" id="logo"></div>
     <div class="col-sm-7">
      <a href="/dashboard"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b>HOME</b></button></a>
      <a href="/aboutus"><button type="button" class="btn btn-default" id="about" style="font-size: 20px;"><b>ABOUT US</b></button></a>
      <a href="#"><button type="button" class="btn btn-default" id="services" style="font-size: 20px;"><b>SERVICES</b></button></a>
      <a href="/contactus"><button type="button" class="btn btn-default" id="contact" style="font-size: 20px;"><b>CONTACT US</b></button></a>
      <a href="/team"><button type="button" class="btn btn-default" id="meet" style="font-size: 20px;" style="font-size: 20px;"><b>MEET THE TEAM</b></button></a>
   </div>
    <div class="col-sm-2">
      <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px;">
      </i><font style="font-size: 20px;">  Logout</font></a>
     </div>
     </div>
 
 
<!---------------------------------------------Services-------------------------------------------------->
<h1 id="heading" style="color:#483D8B"><b><center>OUR SERVICES<hr></center></b></h1><br><br>
<div clas="container-fluid" id="background">
<div class="row text-center">
	<div class="col-sm-1"></div>
<div class="col-sm-3 " id="a">
	<i class='far fa-building' style='font-size:45px'></i>
	<h2>Institution <br>Development</h2>
	We adhere to end value chain development approach. Establishing a set of micro-enterprise across value chain requires strengthening institutions capabilities and business acumen to internalize the process.
</div>
<div class="col-sm-4" id="b">
<i class='fas fa-laptop' style='font-size:45px'></i>
	<h2>IT-based <br>services</h2>
	Use of artificial intelligence and data analytics to support in taking the business decision, setting up community-based quality norms are going to leverage global opportunities in the aquaculture sector.
</div>
<div class="col-sm-3" id="c">
	<i class='fas fa-id-card' style='font-size:45px'></i>
	<h2>Business Service Providers</h2>
	Engaging rural youth as business service providers is an innovative strategy to integrate with extension system, market facilitation, convergence and quality control across the process.
</div>
<div class="col-sm-1"></div>
</div>
 
 
<br><br><br>
<div class="row text-center">
	<div class="col-sm-1"></div>
<div class="col-sm-3 " id="d" >
	<i class='fas fa-atom' style='font-size:50px'></i>
	<h2>Technology <br>sourcing</h2>
	Aquaculture and fisheries sector has progressed through incorporating technologies. Since most of the technologies are not accessible to communities, so we bring Science -farm together to adopt affordable, sustainable
 
</div>
<div class="col-sm-4" id="e">
	<i class='fas fa-fish' style='font-size:50px'></i>
	<h2>Sustainable Aquatic <br>Farming Practices</h2>
	We demonstrate integrated livelihood models to ensure doubling farmers income and enhance the productivity of existing water resources.We enable farmers to learn affordable and sustainable aquatic farming practices.
 
</div>
<div class="col-sm-3" id="f">
	<i class='far fa-lightbulb' style='font-size:50px'></i>
	<h2>Research & Advocacy <br>Partnership</h2>
	 Incorporating socio-economic and policy agenda within the ambit of study and documentation will help stakeholders to develop a mechanism for coming together.
 
</div>
 
<div class="col-sm-1"></div>
</div>
 
 </div>
 <script type="text/javascript">
 	$(document).ready(function(){
  $("i").click(function(){
    $("#comp_list").slideToggle("slow");
  });
});
 </script>
  </body>
  </html>