<!DOCTYPE HTML>
<html>

<head>
	<title>User Login</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Tool Sign In Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/css/login.css" rel='stylesheet' type='text/css' />
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="249881321375-p8nevq0uqtfbvg2sp162t9rbjqlov489.apps.googleusercontent.com">

</head>

<body>
	<h1>Welcome to User Login</h1>
	<div class="ls-login box box--big">
		<!-- form starts here -->
		<%- include ("./partials/messages") %>
				
		<form action="/users/login" method="POST">
			<div class="agile-field-txt">
				<label>Email</label>
				<input type="text" name="email" id="email" placeholder="Enter User Name" required="" />
			</div>
			<div class="agile-field-txt">
				<label> Password</label>
				<input type="password" name="password" id="password" placeholder="Enter Password" required="" id="myInput" />
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
					<label class="check" for="check3">Show password</label>
                </div>
                <div class="agile-right">
					<a href="#">forgot password?</a>
				</div>
			</div>
			<!-- script for show password -->
			<script>
				function myFunction() {
					var x = document.getElementById("password");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<!-- //end script -->
			<div class="w3ls-bot">
				<div class="switch-agileits">
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
						keep me signed in
					</label>
				</div>
			</div>
				<input type="submit" value="SIGN IN">
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
		</form>
		
	</div>
	<script>
		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			console.log('Name: ' + profile.getName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		  }
	</script>
</body>
</html>