<button><a href="/vendor/logout"><button id="logout"><i class='fas fa-user-alt'></i>Logout</button></a>
<<<<<<< HEAD
</button>
=======
</button>


<form id="messageform" method="POST" action="vendor/message">

    <label for="Msg">Message</label><input name="message" type="text"/>
    <input type="submit">

</form>
<div id="hi">Hello</div>

		
<div id="hey">Hey
</div>

</body>
</html>
<script>
    $('#messageform').submit(function (e) {
    e.preventDefault();
    console.log($.ajax)
    var data = $(this).serialize()
    console.log(data)
    $.ajax({
        url: '/vendor/message',
        data: data,
        type: 'POST',
        success: function(elem){
            $('#hi').html(data)
        }
    });
});</script>